*.java linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.tcl linguist-detectable=false
*.vhd linguist-detectable=true
*.sh linguist-detectable=false
*.bat linguist-detectable=false
*.lpr linguist-detectable=false
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
